@import url(https://fonts.googleapis.com/css?family=Roboto);
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  font-family:('fonts/PT Pragmatica Extra Light.ttf'), 'Roboto', arial;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #49075e;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 300px;


}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

#nav-title{
	display: block;
	color: white;
	font-size: 200%;
}

#nav-home{
	display: block;
	top: 100px;
}

#settings-nav{
	display: block;
	margin: 395px 0;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.wrap-content {
  /* Critical position and size styles */
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;

  height: 100%;
  width: 100%;
  z-index: 1;

  /* non-critical apperance styles */
  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 246px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 0 0' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger, .wrap-content {
  transition: left 0.2s;
}


.nav-trigger:checked  {
  left: 215px;
}

.nav-trigger:checked ~ .wrap-content {
  left: 299px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

label{
	display: block;
	left: 500px;
}

.header-nav{
	display: block;
	float: right;
	width: 100%;
	height: 76px;
	background-color:#43005E;
	z-index: 1;
}

.sndcld-heading{
	display: block;
	height: 110px;
	width: 600px;
	font-size: 2em;
}

hr{
	border: 0;
	width: 69.5%;
	height: 5px;
	color: #000000;
	background-color: #000000;
	right: 10%;

	
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  	overflow-x: hidden;
}

/* Additional non-critical styles */

 h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family:'Roboto';
}

img{
  float: center;
  height: 70px;
  padding: 10px;
}
/*Audio media */
iframe{
  padding: 10px;
  width: 70%;
  height: 20%;

}
